/* Landscape mode */
@media only screen and (orientation: landscape) {
    body {
        background-color: rgb(245, 245, 245);
    }
    .portrait_only {
        display: none;
    }
}

/* Portrait mode */
@media only screen and (orientation: portrait) {
    body {
        background-color: rgb(245, 245, 245);
    }
    .landscape_only {
        display: none;
    }
}

.ClassGridPage {
    margin-left: 10px;
    margin-right: 10px;
}

.ClassGridPage .pc-grid-wrapper {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(223, 223, 223);
    border-radius: 5px;
    padding: 10px;
    /* box-shadow: 0 1px 3px rgba(189, 189, 189, 0.16), 0 3px 6px rgba(187, 187, 187, 0.23); */
}

.pc-grid-wrapper .pc-grid-item-row {
    margin: 0 auto;
}

.pc-grid-row-wrapper {
    overflow: hidden;
    width: 100%;
}
.pc-grid-wrapper .white-board {
    text-align: center;
    /* background-color: rgb(180, 180, 180); */
    border: 1px solid rgb(167, 167, 167);
    border-radius: 5px;
    height: 20px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 10px;
    /* box-shadow: 0 1px 3px rgba(189, 189, 189, 0.16), 0 3px 6px rgba(187, 187, 187, 0.23); */
}

.white-board p {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
}

.ClassGridPage .pc-box-wrapper {
    width: 100%;
    text-align: center;
}

.ClassGridPage .control-row {
    padding-top: 10px;
    padding-bottom: 5px;
    overflow: hidden;
    font-family: "Roboto Condensed", sans-serif;
}
.ClassGridPage .control-row #classId {
    /* padding: 5px; */
    /* background-color: rgb(45, 116, 45); */
    font-size: 20px;
    color: Black;
    border-radius: 5px;
}
.ClassGridPage .control-row #onlight {
    padding: 5px;
    background-color: rgb(145, 219, 145);
    font-size: 16px;
    color: white;
    vertical-align: middle;
    /* line-height: 2px; */
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.ClassGridPage .control-row #offlight {
    padding: 5px;
    background-color: rgb(141, 141, 141);
    font-size: 16px;
    color: white;
    vertical-align: middle;
    /* line-height: 2px; */
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.ClassGridPage .control-row #CountValue {
    padding: 5px;
    font-size: 19px;
    color: rgb(47, 47, 47);
    vertical-align: middle;
    /* line-height: 2px; */

    border-radius: 50%;
}
.ClassGridPage .control-row #onCount {
    padding: 5px;
    background-color: rgb(45, 116, 45);
    font-size: 16px;
    color: white;
    border-radius: 5px;
}
.ClassGridPage .control-row #offCount {
    padding: 5px;
    background-color: rgb(119, 118, 121);
    font-size: 16px;
    color: white;
    border-radius: 5px;
}

.ClassGridPage #controlMenuButton {
    float: right;
    cursor: pointer;
}

#controlMenuButton #controlMenuLabel {
    font-size: 12px;
    color: gray;
}

.ClassGridPage .control-row #allPcOffButton {
    padding: 5px;
    border: 1px solid rgb(151, 42, 42);
    font-size: 16px;
    color: rgb(151, 42, 42);
    float: right;
    font-family: "Roboto Condensed", sans-serif;
    border-radius: 5px;
    cursor: pointer;
}
.ClassGridPage .control-row #allPcONButton {
    padding: 5px;
    border: 1px solid rgb(45, 116, 45);
    font-size: 16px;
    color: rgb(45, 116, 45);
    float: right;
    font-family: "Roboto Condensed", sans-serif;
    border-radius: 5px;
    cursor: pointer;
}
.ClassGridPage .control-row button {
    float: right !important;
    font-family: "Roboto Condensed", sans-serif;
    background-color: rgb(230, 136, 136) !important;
    border: 1px solid rgb(255, 255, 255) !important;
}

.ClassGridPage .disable {
    pointer-events: none;
}
