
.pc-item-wrapper{
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    background-color: white;
    margin-bottom: 10px;
    background-color:white;
    border: gray;
    border-bottom: 1px;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 3px 6px rgba(112, 112, 112, 0.23);
}
button{
    border: 0;
    width: 100%;
}

.pc-item-wrapper .id-span{
    font-size: 20px;

}

.pc-item-wrapper .update-log{
    margin-left: 10px;
    font-size: 11px;
    color:gray
}

.pc-item-wrapper .pc-off-alert-box{
    padding-left: 10px;
    padding-right: 10px;
}
.pc-item-wrapper .id-box p{
    font-size: x-large;
}

.pc-item-wrapper .on-light{
    float: left;
    height: 100%;
    width: 2px;
    margin-right: 10px;
    background-color: blue;
}

.pc-item-wrapper .off-light{
    float: left;
    height: 100%;
    width: 2px;
    margin-right: 10px;
    background-color: gray;
}

.pc-item-wrapper .expand-button{
    height:30px;
    float: right;
    font-size: 12px;
    border: 0;
    color: rgb(54, 54, 54);
    width: 30%;
    background-color: rgb(199, 199, 199);
}

 