.PcDetailInfo .pc-detail-wrapper {
    width: 100%;
    padding: 10px;
}

.PcDetailInfo .collapse-item-box {
    overflow: hidden;
}

.PcDetailInfo .info-text-box {
    color: gray;
    text-align: center;
    font-size: 12px;
}

.PcDetailInfo .value-text-box {
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-top: -15px;
    font-family: "Roboto Condensed", sans-serif;
}

.PcDetailInfo .collapse-item-wrapper {
    margin-bottom: 20px;
}

.PcDetailInfo .usage-over-90 {
    color: rgb(236, 104, 104);
    font-size: 10px;
    text-align: center;
}
.PcDetailInfo .usage-over-70 {
    color: rgb(238, 133, 92);
    font-size: 10px;
    text-align: center;
}
.PcDetailInfo .usage-over-50 {
    color: rgb(126, 126, 126);
    font-size: 10px;
    text-align: center;
}
.PcDetailInfo .usage-over-30 {
    color: rgb(144, 144, 144);
    font-size: 10px;
    text-align: center;
}
.PcDetailInfo .usage-over-10 {
    color: rgb(52, 55, 240);
    font-size: 10px;
    text-align: center;
}
.PcDetailInfo .usage-over-0 {
    color: rgb(141, 141, 141);
    font-size: 10px;
    text-align: center;
}

.PcDetailInfo .data-progress-box {
    margin-bottom: 10px;
}
