@import url("https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
body {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: gray;
    height: auto;
}

a {
    text-decoration: none !important;
    color: gray !important;
}

.main {
    padding-top: 60px;
    min-height: 100vh;
    height: auto;
}

.main .main-wrapper {
    margin-top: 20px;
}
#root {
    overflow: hidden;
    height: auto;
    padding-bottom: 30px;
    background-color: rgb(245, 245, 245);
}
